<!-- <p>target-reality works!</p> -->

<div class="target-reality-wrap">
    <div class="block-head">
      <div class="block-title">
        <h3>Target vs. Reality</h3>
      </div>
    </div>
    <div class="block-content-wrap bar-chart">
    </div>
    <div class="block-foot">
      <div class="legend-info">
        <div class="legend-info-item">
          <div class="info-item-l">
            <div class="info-item-icon">
              <!-- <img src="path_to_bag_icon" alt="Bag Icon" /> -->
            </div>
            <div class="info-item-text">
              <h4 class="info-item-title">Reality Sales</h4>
              <p class="info-item-subtitle">Global</p>
            </div>
          </div>
          <div class="info-item-r">
            <p class="info-item-val">8.823</p>
          </div>
        </div>
        <div class="legend-info-item">
          <div class="info-item-l">
            <div class="info-item-icon">
              <!-- <img src="path_to_ticket_icon" alt="Ticket Icon" /> -->
            </div>
            <div class="info-item-text">
              <h4 class="info-item-title">Target Sales</h4>
              <p class="info-item-subtitle">Commercial</p>
            </div>
          </div>
          <div class="info-item-r">
            <p class="info-item-val">12.122</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
