<div class="content-area">
  <div class="row" >
    <div class="col-lg-8">
      <app-sales></app-sales>
    </div>
    <div class="col-lg-4">
      <app-visitors></app-visitors>
    </div>
  </div>
  
  <div class="mt-4">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <app-revenue></app-revenue>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <app-customer></app-customer>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <app-target-reality></app-target-reality>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-12 col-md-6">
          <app-top-products></app-top-products>
        </div>
        <div class="col-12 col-md-6">
          <app-volume-service></app-volume-service>
        </div>
      </div>
  </div>
  </div>